spring:
  profiles:
    active: gcp-dev
  codec:
    max-in-memory-size: 5000KB

eureka:
  services:
    eureka-clients:
      keycloak-auth:
        url: http://jaipro-keycloak.jaipro.svc.cluster.local:8080/eureka/keycloak-auth/v1
        readTimeout: 7000
        writeTimeout: 1000
        connectionTimeout: 300
      resource-server:
        url: http://localhost:8090/eureka/resource-server/v1
        readTimeout: 7000
        writeTimeout: 1000
        connectionTimeout: 300

