spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://34.70.86.164:8080/auth/realms/eureka

  # R2DBC Driver config
  r2dbc:
    url: r2dbc:postgresql://localhost:5432/jaipro_dev?schema=jaipro
    username: postgres
    password: sql
    pool:
      initial-size: 10
      max-idle-time: 30m

internal:
  services:
    eureka-clients:
      keycloak-auth:
        url: http://localhost:8090/eureka/keycloak-auth/v1
        readTimeout: 7000
        writeTimeout: 1000
        connectionTimeout: 300

logging:
  config: classpath:log4j2-dev-spring.xml