spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak.jaipro.svc.cluster.local:8080/auth/realms/eureka
  # GCP Secret Manager
  cloud:
    gcp:
      secretmanager:
        enabled: true
        project-id: ${cloud.gcp.project-id}

  # R2DBC Driver config
  r2dbc:
    url: ${PG_URL}
    username: ${sm://projects/${spring.cloud.gcp.secretmanager.project-id}/secrets/SQL_JAIPRO_DEV_APP_USER}
    password: ${sm://projects/${spring.cloud.gcp.secretmanager.project-id}/secrets/SQL_JAIPRO_DEV_APP_PWD}
    pool:
      initial-size: 10
      max-idle-time: 30m

logging:
  config: classpath:log4j2-dev-spring.xml